body {
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

main {
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
    color: #00c3ff;
    font-weight: 500;
    transition: 100ms;
}

a:hover {
    color: #6adcff;
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.text-center {
    text-align: center;
}

.nav {
    display: flex;
    flex: 1;
    flex-basis: 0;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.nav li {
    margin: 0 10px;
}

.btn {
    display: inline-block;

    text-decoration: none;
    background-color: #037ea3;
    padding: 8px 10px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    transition: 100ms;
}

.btn:hover {
    color: white;
    background-color: #0195c2;
}

.btn-prism {
    background-color: hsl(350, 66%, 55%);
}

.btn-prism:hover {
    background-color: hsl(350, 66%, 63%);
}

.btn-discord {
    background-color: #5865F2;
}

.btn-discord:hover {
    background-color: #8891f2;
}

.btn img {
    width: 36px;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    
}

.content {
    margin: 0 auto;
}